/**
 * Custom palette - https://v1.vuepress.vuejs.org/config/#palette-styl
 * Possible to define design system tokens here. ex. ui-01, ui-text, primary-hover, etc.
 */

// fonts
$fontFamily = 'IBM Plex Sans Serif', 'Helvetica Neue', 'Arial', sans-serif
$robotoFont = 'Roboto', 'Helvetica Neue', 'Arial', sans-serif
 
// colors
$accentColor = #0058E6 
$textColor = #161616
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #525252
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 100%
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
